streamlit
pandas
requests
plotly
openpyxl
yfinance
python-dotenv
langchain
PyPDF2
reportlab
google-generativeai
newspaper3k
spacy
lxml_html_clean
fpdf2
faiss-cpu
tiktoken
langchain-community
sentence-transformers
langchain-huggingface
huggingface-hub
langchain-google-genai
hf_xet
beautifulsoup4
fuzzywuzzy
pdfplumber
fastapi
uvicorn
python-multipart
pydantic
