streamlit
pandas
requests
plotly
openpyxl
yfinance
python-dotenv
langchain                                              
PyPDF2     # For reading uploaded PDFs
plotly    # If you want charts
streamlit
pandas
openpyxl
reportlab
requests
google-generativeai
python-dotenv
newspaper3k
spacy
lxml_html_clean
fpdf2
langchain
faiss-cpu 
tiktoken
langchain-community
sentence-transformers
langchain-huggingface
huggingface-hub
google-generativeai
langchain-google-genai
streamlit
openpyxl
hf_xet  
requests 
beautifulsoup4
python-dotenv
fuzzywuzzy 
pdfplumber
reportlab
fastapi 
uvicorn 
python-multipart 
pydantic 
